@import "general";

#todo-app {

}

#header {
    height: 40px;
    background: #00bcd4;
    line-height: 40px;
    padding: 0 20px;
    display: flex;
    .header-left {
        flex: 1 1 auto;
        justify-content: flex-start;
    }
    .header-right {
        flex: 0 0 auto;
        justify-content: flex-end;
        display: flex;
        ._hr1i {
            display: inline-block;
            height: 40px;
            padding: 0 5px;
            cursor: pointer;
            &.icon {
                width: 40px;
                text-align: center;
                color: #FFF;
                line-height: 40px;
                padding: 0;
                font-size: 20px;

                span.count {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    height: 16px;
                    line-height: 16px;
                    background: #FF0000;
                    border-radius: 8px;
                    font-size: 10px;
                    min-width: 16px;
                }
            }
            &:hover {
                background: #00acc3;
            }
        }
        .user {
            color: #FFF;
            position: relative;
            ._um {
                display: none;
                position: absolute;
                margin: 0;
                padding: 0;
                width: 100px;
                background: #00acc4;
                right: 0;
                z-index: 100;
                li {
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    a {
                        display: block;
                        padding: 8px 10px;
                        text-decoration: none;
                        color: #FFF;
                    }
                }
            }
            &:hover {
                ._um {
                    display: block;
                }
            }
        }
        .notification {
            position: relative;
            ._um {
                display: none;
                position: absolute;
                margin: 0;
                padding: 0;
                width: 300px;
                background: #00acc4;
                right: 0;
                z-index: 100;
                font-size: 14px;
                li {
                    margin: 0;
                    padding: 10px;
                    line-height: 1;
                    text-align: left;
                    a {
                        display: block;
                        padding: 8px 10px;
                        text-decoration: none;
                        color: #FFF;
                    }
                }
            }
            &:hover {
                ._um {
                    display: block;
                }
            }
        }
    }

}

#todo-login,
#todo-register {
    display: none;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 20px;
}

#header,
#todo-login,
#todo-register,
#todo-page {
    visibility: hidden;
}

#todo-app {
    &.loaded {
        #header,
        #todo-login,
        #todo-register,
        #todo-page {
            visibility: visible;
        }
    }
}

#todo-app {
    &.loaded {
        #todo-login,
        #todo-register {
            display: block;
        }
    }
}

#todo-page {
    display: flex;
    position: fixed;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#sidebar {
    flex: 0 0 250px;
    background: #004d61;
    border-right: 1px solid #DDD;
    overflow: auto;
    .menu {
        list-style: none;
        margin: 5px 0;
        padding: 0;
        .menu-item {
            font-size: 15px;
            cursor: pointer;
            position: relative;
            > a, > span {
                display: block;
                text-decoration: none;
                color: #666;
            }
            .icon {
                float: left;
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                color: #FFF;
            }
            .menu-name {
                padding: 11px 0;
                color: #FFF;
            }

            .count {
                display: inline-block;
                float: right;
                padding: 5px 8px;
                font-size: 10px;
                line-height: 1;
                margin-right: 5px;
                border-radius: 3px;
                position: absolute;
                top: 10px;
                right: 5px;
            }

            > .menu {
                display: none;
                margin: 0;
                background: #2e4046;
                .menu-item {
                    > a, > span, > div {
                        padding-left: 40px;
                        color: #FFF;
                    }
                }
            }
            &.active {
                > a, > span {
                    font-weight: bold;
                    background: #37464a;
                    color: #FFF;
                }
                > .menu {
                    display: block;
                    .menu-item {
                        color: #FFF;
                        &:hover {
                            background: #1c3846;
                        }
                    }
                }
            }
            > a:hover, > span:hover {
                background: #1c3846;
            }
        }
    }

    .todo-groups {
        .menu-item {
            .group-actions {
                display: none;
                width: 80px;
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    flex: 0 0 40px;
                    visibility: visible;
                }
            }

            &:hover {
                .count {
                    display: none;
                }
                .group-actions {
                    display: flex;
                }
            }
        }
    }
}

#todo-list,
#todo-users {
    flex: 1 1 0;
    overflow: auto;
}

#todo-groups {
    .list-groups {

        .add {
            padding: 10px;
            text-align: right;
        }
    }
}

#todo-list {
    overflow: auto;
}

#todo-app {
    #list-actions {
        height: 30px;
        margin: 10px;
        line-height: 30px;
        display: flex;
        .left,
        .right {
            flex: 0 0 50%;
        }

        .left {
            .search-box {
                width: 200px;
            }
        }

        .right {
            text-align: right;
        }
    }
    .browse-items {
        list-style: none;
        padding: 0;
        border-top: 1px solid #EEE;
        .item {
            padding: 0px 10px;
            border-bottom: 1px solid #DDD;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
        }
    }
}

.menu-groups {
    .add-group {
        margin: 20px;
        .button {
            display: inline-block;
        }
    }
}

.group,
.item {
    display: flex;
}

.group {
    .group-name {
        flex: 1 1 0;
    }
}

.item {
    .item-name {
        flex: 1 1 0;
    }
}

.group-actions,
.item-actions {
    flex: 0 0 40px;
    visibility: hidden;
    display: flex;
    color: #AAA;
    a {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
        &.remove {
            &:before {
                content: "\f00d";
            }
        }
        &.edit {
            &:before {
                content: "\f303";
                font-size: 14px;
            }
        }
        &:hover {
            color: #00bcd4;
        }
    }
}

.item-actions {
    padding-top: 8px;
}

.group,
.item {
    &:hover {
        .group-actions,
        .item-actions {
            visibility: visible;
        }
    ;
    }
}

.item {
    .item-group {
        flex: 0 0 75px;
        .todo__label {
            max-width: 75px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #00bcd4;
            color: #FFF;
            margin-top: -3px;
        }
    }
    .item-date {
        span {
            font-size: 12px;
            display: inline-block;
            margin: 0 5px;
        }
    }
}

#group__add-form {
    background: #FFF;
    padding: 10px 10px 1px 10px;
    .form-window {
    }
    .todo__group-name {
        width: 100%;
    }
}

#form-add-todo {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:before {
        position: fixed;
        background: #FFF;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        content: '';
    }
    .form-window {
        background: #FFF;
        z-index: 10000;
        position: relative;
        width: 600px;
        margin: 100px auto;
        border-radius: 4px;
        box-shadow: 0 0 8px #828282;
        padding: 10px 20px;
    }
    .todo__item-desc {
        width: 100%;
        height: 100px;
    }
}

.browse-item-users {
    .search-users {
        [name="add-user"] {
            width: 200px;
            vertical-align: middle;
        }
    }
}

.todo-post-comment {
    textarea {
        height: 100px;
    }
}

.assignee {
    .assignee__user {

    }
}