<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%- baseUrl %>/css/todo.css">
    <!--<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/fontawesome/css/all.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%- baseUrl %>/colorpicker/css/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="<%- baseUrl %>/datetimepicker/jquery.datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
    <script src="<%- baseUrl %>/js/vendor/jquery.cookie.js"></script>
    <script src="<%- baseUrl %>/js/vendor/moment.js"></script>
    <script src="<%- baseUrl %>/colorpicker/js/colorpicker.js"></script>
    <script src="<%- baseUrl %>/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script src="<%- baseUrl %>/js/script.js"></script>
    <script src="<%- baseUrl %>/js/todo-store.js"></script>
    <script src="<%- baseUrl %>/js/todo-components"></script>
    <script src="<%- baseUrl %>/js/todo.js"></script>
</head>
<body>
<div id="todo-app">
    <div id="header">
        <div class="header-left">{{currentTime}} | {{currentPage}}</div>
        <div class="header-right">
            <div class="user _hr1i" v-show="adminUser.username">
                <span>Hi, {{adminUser.username}}</span>
                <ul class="_um">
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
            <div class="notification _hr1i icon">
                <span class="fas fa-bell"></span>
                <span class="count" v-if="todoData.noti_1">{{todoData.noti_1}}</span>
                <ul class="_um" v-if="todoData.notifications">
                    <li v-for="(noti, index) in todoData.notifications">{{noti.content}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">

        <!-- authentication -->
        <%- components.authentication %>

        <div id="todo-page" v-if="adminUser !== false">
            <div id="sidebar" v-if="adminUser !== false">
                <div id="todo-menu">
                    <ul class="todo-menu menu">
                        <li class="menu-item" :class="[currentPage=='users' ? 'active' : '']">
                            <a href="" @click="_showPage($event, 'users')">
                                <i class="icon fas fa-users"></i>
                                <div class="menu-name">Users</div>
                            </a>
                        </li>
                        <!-- todo-groups -->
                        <%- components.todoGroups %>
                    </ul>
                </div>

            </div>

            <!-- todo-users -->
            <%- components.todoUsers %>

            <!-- todo-items -->
            <%- components.todoItems %>
        </div>
    </div>


    <div id="footer"></div>
</div>
<%- jsConfig %>
</body>
</html>