html, body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em; }

.button {
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #F5F5F5;
  padding: 8px 12px;
  display: inline-block;
  line-height: 1;
  outline: none;
  box-shadow: none;
  vertical-align: middle;
  color: #777;
  font-size: 14px; }

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 5px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 29px;
  color: #999;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
select {
  height: 32px; }

a {
  cursor: pointer; }

.message {
  margin: 0 0 10px 0;
  color: #00bcd4; }
  .message.error {
    color: #FF0000; }

.todo__label {
  display: inline-block;
  font-size: 11px;
  background: #DDD;
  border-radius: 3px;
  padding: 0px 5px;
  line-height: 21px;
  vertical-align: middle;
  height: 21px; }

.form-row {
  margin: 0 0 10px 0; }
  .form-row label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666; }
  .form-row input[type="text"] {
    width: 100%; }

.block-heading {
  margin: 0 0 20px 0; }

.block {
  padding: 20px; }

.browse-items {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  border-top: 1px solid #EEE; }
  .browse-items .item {
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid #EEE;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    position: relative; }
    .browse-items .item .item__user-avatar {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      border-radius: 50%;
      margin: 5px 10px 0 0;
      background: #DDD;
      text-align: center;
      line-height: 25px;
      color: #FFF; }
    .browse-items .item .item-actions {
      flex: 0 0 40px; }
    .browse-items .item.active:before {
      background: #92f3ff;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.1;
      pointer-events: none; }

#header {
  height: 40px;
  background: #00bcd4;
  line-height: 40px;
  padding: 0 20px;
  display: flex; }
  #header .header-left {
    flex: 1 1 auto;
    justify-content: flex-start; }
  #header .header-right {
    flex: 0 0 auto;
    justify-content: flex-end;
    display: flex; }
    #header .header-right ._hr1i {
      display: inline-block;
      height: 40px;
      padding: 0 5px;
      cursor: pointer; }
      #header .header-right ._hr1i.icon {
        width: 40px;
        text-align: center;
        color: #FFF;
        line-height: 40px;
        padding: 0;
        font-size: 20px; }
        #header .header-right ._hr1i.icon span.count {
          display: inline-block;
          position: absolute;
          top: 0;
          height: 16px;
          line-height: 16px;
          background: #FF0000;
          border-radius: 8px;
          font-size: 10px;
          min-width: 16px; }
      #header .header-right ._hr1i:hover {
        background: #00acc3; }
    #header .header-right .user {
      color: #FFF;
      position: relative; }
      #header .header-right .user ._um {
        display: none;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100px;
        background: #00acc4;
        right: 0;
        z-index: 100; }
        #header .header-right .user ._um li {
          margin: 0;
          padding: 0;
          line-height: 1; }
          #header .header-right .user ._um li a {
            display: block;
            padding: 8px 10px;
            text-decoration: none;
            color: #FFF; }
      #header .header-right .user:hover ._um {
        display: block; }
    #header .header-right .notification {
      position: relative; }
      #header .header-right .notification ._um {
        display: none;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 300px;
        background: #00acc4;
        right: 0;
        z-index: 100;
        font-size: 14px; }
        #header .header-right .notification ._um li {
          margin: 0;
          padding: 10px;
          line-height: 1;
          text-align: left; }
          #header .header-right .notification ._um li a {
            display: block;
            padding: 8px 10px;
            text-decoration: none;
            color: #FFF; }
      #header .header-right .notification:hover ._um {
        display: block; }

#todo-login,
#todo-register {
  display: none;
  width: 400px;
  margin: 50px auto;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 20px; }

#header,
#todo-login,
#todo-register,
#todo-page {
  visibility: hidden; }

#todo-app.loaded #header,
#todo-app.loaded #todo-login,
#todo-app.loaded #todo-register,
#todo-app.loaded #todo-page {
  visibility: visible; }

#todo-app.loaded #todo-login,
#todo-app.loaded #todo-register {
  display: block; }

#todo-page {
  display: flex;
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 100%; }

#sidebar {
  flex: 0 0 250px;
  background: #004d61;
  border-right: 1px solid #DDD;
  overflow: auto; }
  #sidebar .menu {
    list-style: none;
    margin: 5px 0;
    padding: 0; }
    #sidebar .menu .menu-item {
      font-size: 15px;
      cursor: pointer;
      position: relative; }
      #sidebar .menu .menu-item > a, #sidebar .menu .menu-item > span {
        display: block;
        text-decoration: none;
        color: #666; }
      #sidebar .menu .menu-item .icon {
        float: left;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        color: #FFF; }
      #sidebar .menu .menu-item .menu-name {
        padding: 11px 0;
        color: #FFF; }
      #sidebar .menu .menu-item .count {
        display: inline-block;
        float: right;
        padding: 5px 8px;
        font-size: 10px;
        line-height: 1;
        margin-right: 5px;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        right: 5px; }
      #sidebar .menu .menu-item > .menu {
        display: none;
        margin: 0;
        background: #2e4046; }
        #sidebar .menu .menu-item > .menu .menu-item > a, #sidebar .menu .menu-item > .menu .menu-item > span, #sidebar .menu .menu-item > .menu .menu-item > div {
          padding-left: 40px;
          color: #FFF; }
      #sidebar .menu .menu-item.active > a, #sidebar .menu .menu-item.active > span {
        font-weight: bold;
        background: #37464a;
        color: #FFF; }
      #sidebar .menu .menu-item.active > .menu {
        display: block; }
        #sidebar .menu .menu-item.active > .menu .menu-item {
          color: #FFF; }
          #sidebar .menu .menu-item.active > .menu .menu-item:hover {
            background: #1c3846; }
      #sidebar .menu .menu-item > a:hover, #sidebar .menu .menu-item > span:hover {
        background: #1c3846; }
  #sidebar .todo-groups .menu-item .group-actions {
    display: none;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px; }
    #sidebar .todo-groups .menu-item .group-actions a {
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      flex: 0 0 40px;
      visibility: visible; }
  #sidebar .todo-groups .menu-item:hover .count {
    display: none; }
  #sidebar .todo-groups .menu-item:hover .group-actions {
    display: flex; }

#todo-list,
#todo-users {
  flex: 1 1 0;
  overflow: auto; }

#todo-groups .list-groups .add {
  padding: 10px;
  text-align: right; }

#todo-list {
  overflow: auto; }

#todo-app #list-actions {
  height: 30px;
  margin: 10px;
  line-height: 30px;
  display: flex; }
  #todo-app #list-actions .left,
  #todo-app #list-actions .right {
    flex: 0 0 50%; }
  #todo-app #list-actions .left .search-box {
    width: 200px; }
  #todo-app #list-actions .right {
    text-align: right; }

#todo-app .browse-items {
  list-style: none;
  padding: 0;
  border-top: 1px solid #EEE; }
  #todo-app .browse-items .item {
    padding: 0px 10px;
    border-bottom: 1px solid #DDD;
    height: 35px;
    line-height: 35px;
    cursor: pointer; }

.menu-groups .add-group {
  margin: 20px; }
  .menu-groups .add-group .button {
    display: inline-block; }

.group,
.item {
  display: flex; }

.group .group-name {
  flex: 1 1 0; }

.item .item-name {
  flex: 1 1 0; }

.group-actions,
.item-actions {
  flex: 0 0 40px;
  visibility: hidden;
  display: flex;
  color: #AAA; }
  .group-actions a,
  .item-actions a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; }
    .group-actions a:before,
    .item-actions a:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }
    .group-actions a.remove:before,
    .item-actions a.remove:before {
      content: "\f00d"; }
    .group-actions a.edit:before,
    .item-actions a.edit:before {
      content: "\f303";
      font-size: 14px; }
    .group-actions a:hover,
    .item-actions a:hover {
      color: #00bcd4; }

.item-actions {
  padding-top: 8px; }

.group:hover .group-actions,
.group:hover .item-actions,
.item:hover .group-actions,
.item:hover .item-actions {
  visibility: visible; }

.item .item-group {
  flex: 0 0 75px; }
  .item .item-group .todo__label {
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #00bcd4;
    color: #FFF;
    margin-top: -3px; }

.item .item-date span {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px; }

#group__add-form {
  background: #FFF;
  padding: 10px 10px 1px 10px; }
  #group__add-form .todo__group-name {
    width: 100%; }

#form-add-todo {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #form-add-todo:before {
    position: fixed;
    background: #FFF;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    content: ''; }
  #form-add-todo .form-window {
    background: #FFF;
    z-index: 10000;
    position: relative;
    width: 600px;
    margin: 100px auto;
    border-radius: 4px;
    box-shadow: 0 0 8px #828282;
    padding: 10px 20px; }
  #form-add-todo .todo__item-desc {
    width: 100%;
    height: 100px; }

.browse-item-users .search-users [name="add-user"] {
  width: 200px;
  vertical-align: middle; }

.todo-post-comment textarea {
  height: 100px; }
