html, body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em; }

.button {
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #F5F5F5;
  padding: 8px 12px;
  display: inline-block;
  line-height: 1;
  outline: none;
  box-shadow: none; }

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 5px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 29px;
  color: #999;
  width: 100%; }

a {
  cursor: pointer; }

.message {
  margin: 0 0 10px 0;
  color: #00bcd4; }
  .message.error {
    color: #FF0000; }

.todo__label {
  display: inline-block;
  font-size: 11px;
  background: #DDD;
  border-radius: 3px;
  padding: 0px 5px;
  line-height: 21px;
  vertical-align: middle;
  height: 21px; }

.form-row {
  margin: 0 0 10px 0; }
  .form-row label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666; }
  .form-row input[type="text"] {
    width: 100%; }

.block-heading {
  margin: 0 0 20px 0; }

.block {
  padding: 20px; }

.browse-items {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  border-top: 1px solid #EEE; }
  .browse-items .item {
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid #EEE;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    position: relative; }
    .browse-items .item .item__user-avatar {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      border-radius: 50%;
      margin: 5px 10px 0 0;
      background: #DDD;
      text-align: center;
      line-height: 25px;
      color: #FFF; }
    .browse-items .item.active:before {
      background: #92f3ff;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.1; }

#header {
  height: 40px;
  background: #00bcd4;
  line-height: 40px;
  padding: 0 20px; }
  #header .user {
    float: right;
    color: #FFF; }

#todo-login,
#todo-register {
  display: none;
  width: 400px;
  margin: 50px auto;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 20px; }

#header,
#todo-login,
#todo-register,
#todo-page {
  visibility: hidden; }

#todo-app.loaded #header,
#todo-app.loaded #todo-login,
#todo-app.loaded #todo-register,
#todo-app.loaded #todo-page {
  visibility: visible; }

#todo-app.loaded #todo-login,
#todo-app.loaded #todo-register {
  display: block; }

#todo-page {
  display: flex;
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 100%; }

#sidebar {
  flex: 0 0 250px;
  background: #ecfbff;
  border-right: 1px solid #DDD;
  overflow: auto; }
  #sidebar .todo-menu {
    list-style: none;
    margin: 5px 0;
    padding: 0; }
    #sidebar .todo-menu .menu-item {
      padding: 7px 10px;
      font-size: 15px;
      cursor: pointer; }
      #sidebar .todo-menu .menu-item > * {
        text-decoration: none;
        color: #666; }
      #sidebar .todo-menu .menu-item.active {
        font-weight: bold; }
      #sidebar .todo-menu .menu-item:hover {
        background: #FFF; }

#todo-list,
#todo-users {
  flex: 1 1 0;
  overflow: auto; }

#todo-groups .list-groups .add {
  padding: 10px;
  text-align: right; }

#todo-list {
  overflow: auto; }
  #todo-list #list-actions {
    height: 30px;
    margin: 10px;
    line-height: 30px; }
  #todo-list .browse-items {
    list-style: none;
    padding: 0;
    border-top: 1px solid #EEE; }
    #todo-list .browse-items .item {
      padding: 0px 10px;
      border-bottom: 1px solid #DDD;
      height: 35px;
      line-height: 35px;
      cursor: pointer; }

.group,
.item {
  display: flex; }

.group .group-name {
  flex: 1 1 0; }

.item .item-name {
  flex: 1 1 0; }

.group-actions,
.item-actions {
  flex: 0 0 40px;
  visibility: hidden;
  display: flex;
  color: #AAA; }
  .group-actions a,
  .item-actions a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; }
    .group-actions a:before,
    .item-actions a:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }
    .group-actions a.remove:before,
    .item-actions a.remove:before {
      content: "\f00d"; }
    .group-actions a.edit:before,
    .item-actions a.edit:before {
      content: "\f303";
      font-size: 14px; }
    .group-actions a:hover,
    .item-actions a:hover {
      color: #00bcd4; }

.item-actions {
  padding-top: 8px; }

.group:hover .group-actions,
.group:hover .item-actions,
.item:hover .group-actions,
.item:hover .item-actions {
  visibility: visible; }

.item .item-group {
  flex: 0 0 75px; }
  .item .item-group .todo__label {
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #00bcd4;
    color: #FFF;
    margin-top: -3px; }

.item .item-date span {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px; }

#group__add-form {
  background: #FFF;
  padding: 10px 10px 1px 10px; }
  #group__add-form .todo__group-name {
    width: 100%; }

#form-add-todo {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #form-add-todo:before {
    position: fixed;
    background: #FFF;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    content: ''; }
  #form-add-todo .form-window {
    background: #FFF;
    z-index: 10000;
    position: relative;
    width: 600px;
    margin: 100px auto;
    border-radius: 4px;
    box-shadow: 0 0 8px #828282;
    padding: 10px 20px; }
  #form-add-todo .todo__item-desc {
    width: 100%;
    height: 100px; }

.browse-item-users .search-users [name="add-user"] {
  width: 200px;
  vertical-align: middle; }

.todo-post-comment textarea {
  height: 100px; }
